{# If you have a "Content Type" for footer in Built.io Contentstack then use get() view helper to retrieve footer entry. #}
{# e.g. set footer = get("footer_content_type_id") #}
{# And then render footer values using the {{footer.field_name}} #}
<footer id="footer">
    <div class="inner">
        <section class="credits">
            <span class="credits-software">Published with
                <a href="https://contentstack.built.io" target="_blank">Built.io Contentstack</a></span>
        </section>
    </div>
</footer>
