<!DOCTYPE HTML>
<html>
<head>
    <title>{{entry.title}}</title>
    <meta name="Description" content="{{ entry.seo.description }}"/>
    <meta name="Keywords" content="{{ entry.seo.keywords }}"/>
    <meta property="og:title" content="{{ entry.seo.title }}" />
    <meta property="og:description" content="{{ entry.seo.description }}" />
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" ></script>
</head>
<body class="home-template">

<section id="wrapper">
    <a class="hidden-close"></a>
    {% block content %}{% endblock %}

    {% include "partials/footer.html" %}
    <script type="text/javascript" src="/static/js/script.js"></script>
</section>

</body>
</html>