<!DOCTYPE HTML>
<html>
<head>
    <title>{{entry.title}}</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" ></script>
</head>
<body class="home-template">

    <section id="wrapper">
        <a class="hidden-close"></a>

        {% include "partials/header.html" %}

        {% block content %}{% endblock %}

        {% include "partials/footer.html" %}
        <script type="text/javascript" src="/static/js/script.js"></script>
    </section>

</body>
</html>